<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="FilenameHypervisor" value="hypervisor.json"/>
    <add key="FilenameVms" value="vms.json"/>
    <add key="DefaultPath" value ="./"/>
    
    <add key="ExecuteInProfilingMode" value="true"/>
    <add key="SaveLastProfilingResultToFile" value="true"/>
    <add key="NumProfilingRuns" value="10"/>
    <add key="NumProfilingVms" value="500"/>
    <add key="NumProfilingHypervisors" value ="125"/>
  </appSettings>
</configuration>